@page "/"
@inject IBookService bookService

<PageTitle>Home</PageTitle>

@inject ICategoryService categoryService
@inject IBookService bookService



<div class="d-flex justify-content-end">
    <BPNavLink Href="/books/add">
        Agregar Libro
    </BPNavLink>
</div>
<hr/>

<div>
    <MainHeader Header="Buscar Libros" SubHeader="Busca libros y agregalos a tu coleccion" />
</div>


<div class="row g-2 align-items-center mb-3">

    <div class="col-sm-3">
        <input class="form-control text-muted"
               placeholder="Ej.El Quijote"
               autocomplete="off"
               @bind="@title"
               @bind:event="oninput"
               @onkeypress="@KeyPress" />
    </div>

    <div class="col-sm-3">
        <select class="form-select">
            <option value="0">-- Selecionar Categoria --</option>

            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <div class="col-sm-4 mx-2">
        <BPButton OnClick="@CleanFields" Width="Width.Small" Size="Size.Md" Variant="Variant.Danger">Limpiar</BPButton>
    </div>
</div>

<hr />

<BooksList Books="@books" />

@code {
    private string title = string.Empty;

    private List<Category> categories = new List<Category>();
    private List<Book>? books = null;

    protected override void OnInitialized()
    {
        books = bookService.GetBooks();
        categories = categoryService.GetCategories();
    }

    private void KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            LoadSearchBooks();
        }
    }

    private void LoadSearchBooks()
    {
        books = bookService
        .GetBooks()
        .Where(t => t.Title.ToLower().Contains(
            title.ToLower()))
            .ToList();
    }

    private void CleanFields()
    {
        title = string.Empty;
        books = bookService.GetBooks();
    }
}
